.notfound__container {
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notfound__container img {
    height: 100%;
}
.notfound__button {
    max-width: 80px;
    background-color: var(--bg-success);
    padding-left: 20px;
}

.notfound__button:hover {
    text-decoration: none;
}